.stop-watch{
	height: 70%;
	width: 80%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.button_con{
    display:flex;
    justify-content:center;
    gap:10px;
    
}

.timefont{
    font-size:xx-large;
}
